.header {
    display: flex;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: white;
    height: 35px;
    align-items: center;
    padding: 20px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-link {
    text-decoration: none;
    border: none;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    border-radius: 25px;
    padding: 15px 30px;
    margin: 10px;
    font-size: 1.2em;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.header-link:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.header-link:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 615px){
    .header-link{
        margin-right: auto;
        margin-left: auto;
    }
}

.header-back-link {
    margin-right: auto;
}
