.stock-card {
    display: flex;
    flex-direction: column;
    font-size: large;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s ease; /* Add 's' for seconds and ease transition */
    border-radius: 7px;
    margin: 15px;
    width: 20%; /* Set width to 20%, but adjust in media queries */
    align-items: center;
    background-color: wheat;
    padding: 10px 0px;
    color: mediumblue;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.stock-card:hover {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
}

.stock-card-img {
    width: 100%; /* Ensure image scales with the card */
    max-width: 175px; /* Limit max width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px;
    mix-blend-mode: multiply;
}

.stock-card-btn {
    border: none;
    padding: 10px 10px;
    font-size: large;
    margin: 4px;
    cursor: pointer;
    border-radius: 5px;
    width: 90%; /* Ensure buttons scale with the card */
    text-align: center; /* Center the text */
}

.delete-stock-btn {
    background-color: #f44336;
    color: white;
}

.delete-stock-btn:hover {
    background-color: #d32f2f;
}

.view-stock-page-btn {
    background-color: #365ff4;
    color: white;
}

.view-stock-page-btn:hover {
    background-color: #291e86;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
    .stock-card {
        width: 45%; /* Adjust width for tablets */
    }
}

@media only screen and (max-width: 480px) {
    .stock-card {
        width: 90%; /* Full-width cards on mobile devices */
    }

    .stock-card-btn {
        font-size: medium; /* Adjust button font size on smaller screens */
    }
}
