.stock-card{
    display: flex;
    flex-direction: column;
    font-size: large;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3;
    border-radius: 5px;
    margin: 15px;
    width: 20%;
    align-items: center;
    background-color: wheat;
    padding: 10px 0px;
    border-radius: 7px;
    color: mediumblue;
}

.stock-card:hover{
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
}

.stock-card img{
    width: 175px;
    height: 200px;
    border-radius: 5px;
    mix-blend-mode: multiply;
}

.stock-card-btn {
    border: none; 
    padding: 10px 10px;
    font-size: large;
    margin: 4px;
    cursor: pointer;
    border-radius: 5px;
}

.delete-stock-btn {
    background-color: #f44336;
    color: white;
}

.delete-stock-btn:hover {
    background-color: #d32f2f;
}

.view-stock-page-btn {
    background-color: #365ff4;
    color: white;
}

.view-stock-page-btn:hover {
    background-color: #291e86;
}
