.home-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.home-page-link {
    text-decoration: none;
    border: none;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: whitesmoke;
    border-radius: 25px;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s, box-shadow 0.4s;
}

.home-page-link:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.home-page-link:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 615px){
    .home-page-link{
        margin: 20px;
    }
}
