.stock-filter-form {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: nowrap; 
    justify-content: space-around; 
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    z-index: 2; 
}

.form-group {
    display: flex;
    flex-direction: column; 
    margin: 0 10px; 
    padding: 5px;
    flex-grow: 1; 
}

.form-group label {
    margin-bottom: 5px; 
    display: block; 
}

.stock-filter-form-input {
    border-style: none;
    border-bottom: 2px solid #ccc;
    width: 100%; 
    max-width: 200px; 
    padding: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    margin-top: 5px; 
}

.stock-filter-form-input:focus {
    outline: none;
    border-color: aqua;
}

.stock-filter-form-error-message {
    color: red;
    font-size: small;
    margin-top: 5px;
}

.stock-filter-form-submit {
    align-items: center;
    appearance: none;
    background-color: #3EB2FD;
    background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    font-family: CircularStd, sans-serif;
    font-size: 1rem;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s, background-position .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    margin: 0 10px; 
}

.stock-filter-form-submit:active,
.stock-filter-form-submit:focus {
    outline: none;
}

.stock-filter-form-submit:hover {
    background-position: -20px -20px;
}

.stock-filter-form-submit:focus:not(:active) {
    box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}

.stock-filter-form-submit:disabled {
    background-color: #cccccc;
    background-image: none;
    cursor: not-allowed;
    color: #666666;
    box-shadow: none;
}

@media only screen and (max-width: 900px) {
    .stock-filter-form {
        flex-wrap: wrap; 
}

    .form-group {
        margin: 10px 0; 
        width: 100%; 
    }

    .stock-filter-form-input {
        max-width: none; 
    }

    .stock-filter-form-submit {
        width: 20%; 
        margin: 10px 0; 
    }
}

@media only screen and (max-width: 615px) {
    .stock-filter-form-submit {
        margin-right: auto;
        margin-left: auto;
    }
}
