/* styles.css */
.info-box {
    display: flex;
    align-items: flex-start;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    direction: ltr;
    text-align: right;
    max-width: none;
}

.info-box-image {
    width: 100px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 16px;
}

.info-box-content {
    flex: 1;
}

.info-box-title {
    margin-right: 10px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 30px;
    color: #000;
}

.info-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.info-list li {
    margin: 8px 30px 10px 80px;
    font-size: 17px;
    color: #333;
}

.info-list li strong {
    color: #000;
}

.stock-list-page-link {
    text-decoration: none;
    border: none;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    border-radius: 25px;
    padding: 15px 30px;
    font-size: 0.9em;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    height: 20%;
}
